    <div id="content">
		<%= form_for(@user) do |f| %>
  			<% if @user.errors.any? %>
    			<div id="error_explanation">
      				<h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:
				</h2>
			    <ul>
      				<% @user.errors.full_messages.each do |msg| %>
      		  			<li>
							<%= msg %>
						</li>
      				<% end %>
      			</ul>
    			</div>
  			<% end %>
    		<div id="interior">
				<fieldset>
					<ul class="pageitem">
						<li class="bigfield">
							<%= f.text_field :username, :placeholder => "Username" %>
						</li>
					</ul>        
					<ul class="pageitem">
						<li class="bigfield">
							<%= f.text_field :first_name, :placeholder => "Name" %>
						</li>
					</ul>
					<ul class="pageitem">
        			    <li class="textbox">
							<%= f.text_area :about, :placeholder => "Bio", :rows => 4 %>
						</li>
					</ul>        
					<ul class="pageitem">
						<li class="bigfield">
							<%= f.text_field :email , :placeholder => "Email Address" %>
						</li>
					</ul>
					<ul class="pageitem">
						<li class="select">
							<span class="arrow"></span> 
							<%= f.select :sex, ["","Male","Female"] %>
						</li>
					</ul>        
        			<ul class="pageitem">
        				<li class="checkbox" style="position:relative">
							<span class="name" style="position:absolute;">Birthday</span>
								<input type="date" id="user_age" name="user[age]" value="<%= current_user.age.to_date %>"></input>
						</li>
					</ul>
										
					<ul class="pageitem">
						<li class="bigfield">
							<%= f.text_field :zip_code, :placeholder => "Zip Code" %>
						</li>
					</ul>            
					<ul class="pageitem">
						<li class="select">
							<span class="arrow"></span> 
							<%= f.time_zone_select :time_zone %>
						</li>
					</ul>   
   					<%= f.hidden_field :uid %>
					<ul class="pageitem">      
						<li class="button">
							<%= f.submit :value => "UPDATE", :class => "orange" %>
						</li>
					</ul>
			</fieldset>
		<% end %>
        </div><!--close interior-->
    </div><!--close content-->