<div id="wrapper">
	<div id="header">
		<h1>Edit Quick Tag</h1>
        <a href="<%= root_url %>" class="back"><img src="/images/back.png" alt="Back" /></a>
    </div><!--close header-->
    <div id="content">
    	<div id="interior">
		
		<%= form_for(@quick_tag) do |f| %>
  			<% if @quick_tag.errors.any? %>
    			<div id="error_explanation">
      				<h2><%= pluralize(@quick_tag.errors.count, "error") %> prohibited this quick_tag from being saved:</h2>
				    <ul>
      					<% @quick_tag.errors.full_messages.each do |msg| %>
        					<li><%= msg %></li>
      					<% end %>
				    </ul>
    			</div>
  			<% end %>
			<fieldset>
			<ul class="pageitem">
				<li class="bigfield">
					<!--<input placeholder="Title" type="text" />-->
					<%= f.text_field :title, :placeholder => "Title" %>
				</li>
			</ul>
			<ul class="pageitem">
				<li class="bigfield">
					<!--<input placeholder="Category" type="text" />-->
					<%= f.text_field :category, :placeholder => "Category" %>
				</li>
			</ul>
			<ul class="pageitem">
				<li class="checkbox">
					<span class="name">Location</span>
						<!--<input name="location" type="checkbox" id="edit_quick_tag" unchecked="true" />-->
						<% if @quick_tag.location == 0 %>
							<%= f.check_box :location, :unchecked => true %>
						<% end %>
						<% if @quick_tag.location == 1 %>
							<%= f.check_box :location, :checked => true %>
						<% end %>
				</li>
			</ul>
			<ul class="pageitem">
				<li class="button">
					<!--<input name="Submit" type="submit" value="SUBMIT" class="orange" />-->
					<%= f.submit :value => "SUBMIT", :class => "orange" %>
				</li>
			</ul>
		<% end %>
		</fieldset>
        </div><!--close interior-->
    </div><!--close content-->
    <div id="footer">
    	<p>&copy; copyright 2012 Tag Lab</p>
    </div><!--close footer-->
</div><!--close wrapper-->  





<!--<%= link_to 'Show', @quick_tag %> |
<%= link_to 'Back', quick_tags_path %>-->
