	<div id="content">
    	<div id="interior">
			<div style="text-align: center; padding-bottom: 10px;">
        		<span style="font-family: Helvetica, sans-serif; font-size: 18px;">
					<a href="<%= new_quick_tag_path %>" style="color: #ff6600; text-decoration: none;">+ Add</a> 
					<span class="name">Edit
						<input name="location" type="checkbox" id="edit_quick_tag" unchecked="true" />
					</span>
            </div>
			<% if current_user.quick_tags == [] %>
				<ul class="pageitem">
	                <li class="quick-tag">
						<span class="title">No quick tags loaded</span>
					</li>
				</ul>
			<% else %>
				<% flag = "" %>
				<% @quick_tags.each_cons(2) do |quick_tag, next_quick_tag| %>
					<% if flag != quick_tag.category.downcase %>
						<span class="quickgroup" onclick = "$('#<%= quick_tag.category %>').toggle('slow');"><%= quick_tag.category %></span>
		        	    <ul class="pageitem" id="<%= quick_tag.category %>">
					<% end %>
		        	        <li class="quick-tag" id="<%= quick_tag.id %>" >
								<% if quick_tag.location == 1 %>
									<span class="title quicktag" id="<%= quick_tag.id %>"><%= quick_tag.title %>
										<img class="location-arrow" src="/images/location.png" />
									</span>
								<% elsif quick_tag.location == 0 %>
									<span class="title quicktag" id="<%= quick_tag.id %>"><%= quick_tag.title %></span>
								<% end %>
							</li>
					<% if next_quick_tag.category.downcase != quick_tag.category.downcase %>
						</ul>
					<% end %>
					<% flag = quick_tag.category.downcase %>
				<% end %>
			<% end %>
			<input type="hidden" id="tag_location" />
			
		</div><!--close interior-->
    </div><!--close content-->

<script>

	function initialize(){
		return true;
	}
	
	$(".quicktag").click(function(){
		if (document.getElementById("edit_quick_tag").checked)
		{
			// Load edit page for specific quick tag	
			window.location.replace("<%= root_url %>quick_tags/"+$(this).attr("id")+"/edit");
		}
		else
		{	
			var position = $("#tag_location").val();
			$.ajax({
				beforeSend: function(xhr) {
    				xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'));
  				},
				url: "/new_quicktag",
				data: { user_id: <%= current_user.id %>, id: $(this).attr("id"), location: position },
				dataType: 'script',
				type: 'POST'
			});
			return true;
		}
	});
	
	function showMap(position) {
      		// Show a map centered at (position.coords.latitude, position.coords.longitude).
			document.getElementById("tag_location").value = position.coords.latitude+","+position.coords.longitude;
	}
	
	// One-shot position request.
	navigator.geolocation.getCurrentPosition(showMap);
</script>

		




