<div id="alerts" class="alert"></div>
<div id="interior">
	<span class="quickgroup">
		<a href="/week?week=<%= @current_week%>&type=-1"><img src="/images/back.png" title="Previous week" style="max-width: 20px;" /></a>
		Week <%= @current_week %>: <%= @start %> - <%= @stop %>
		<a href="/week?week=<%= @current_week%>&type=1"><img src="/images/next.png" title="Next week" style="max-width: 20px;" /></a>
	</span>
	<% if @tags != [] %>
		<ul class="pageitem" id="interior_ul">
			<%= render :partial => @tags, :collection => @tags %>	
			<% will_paginate @tags %>
			<% pageless(@tags.total_pages, '/tags') %>		
		</ul>
	<% else %>
		<ul class="pageitem" id="interior_ul">
			<li class="single-tag">
				<span class="title">No tags for this week</span>			
			</li>	
		</ul>
	<% end %>
</div><!--close interior-->
	
<script>
	/*
	var ul_elements = document.getElementsByTagName("ul");
	for (var i=0; i < ul_elements.length; i++){
		document.getElementById("title"+ul_elements[i].id).innerHTML += "("+$("#"+ul_elements[i].id).children().size()+")";
	}
	*/
</script>