<li class="single-tag" id="<%= tag.id %>">
	<a href="<%= edit_tag_path(tag) %>">
		<span class="title"><%= tag.title %></span>
	</a>
				
		<span class="time">
			Tagged on <a class="day_tag" href="<%= root_url %>tags_day?time=<%= tag.time %>" ><%= Time.at(tag.time.to_i).in_time_zone(current_user.time_zone).strftime(" %-m/%-d/%y") %></a>
			<%= Time.at(tag.time.to_i).in_time_zone(current_user.time_zone).strftime(" @%l:%M %P") %>
			
			<!-- if click link, load tags for that specific day....load partial with filtered results by that day -->
			<% if tag.location != "0" %>
				<span><img class="location-arrow" src="/images/location.png" /></span>
			<% end %>									
			<!-- Indicate whether or not an image is with the tag-->
			<% if !tag.image_file_size.nil? %>
				<span><img class="location-arrow" src="/images/photo.png" /></span>
			<% end %>	
		</span>	
		<div id="button<%= tag.id %>" style="float: right; position: relative; top: -50px; padding-right: 5px; display: none; ">
				<form method="post" action="/tags/<%= tag.id %>"  class="button_to">
					<div>
						<input name="_method" type="hidden" value="delete" />
						<input class="delete-button" onclick="return confirm('Are you sure you want to delete?')" type="submit" value="" />
						<input name="authenticity_token" type="hidden" value="2C2etdcJc7JM+r/G8IkZPQF0W5fv+Y/N6rm9q5frJ7E=" />
					</div>
				</form>
		</div>
</li>

