<div id="content">
	<div id="interior">
		<% if @calc == "Frequency" %>
			Frequency (#/<%= params[:frequency_type] %>): <span id="frequency"></span>
			<ul class="pageitem" style="padding: 8px 0 4px 8px;">
        		<div id="chart" style=" height: 264px; width: 264px;">
					<img src="/images/loading.gif" title="Loading..." />
				</div>
			</ul>
		<% elsif @calc == "Average" %>
			<!-- Calculate average -->
			<p id="average"></p><br />
			<p id="min"></p><br />
			<p id="max"></p><br />
			<p id="most_frequent"></p><br />
		<% end %>
		<p style = "text-align: center;">	
			<%= link_to "Edit", "/experiments?data="+ params[:data_source] + "&type=" + @calc + "&ftype=" + params[:frequency_type] %> | <%= link_to "New Experiment", "/experiments" %>
		</p>	
	</div><!--close interior-->
</div><!-- content -->

<script>
	$(document).ready(function(){
					
		<% if @calc == "Average" %>
			var data = [
					<% @data.each do |datapoint| %>
						<% time = Time.at(datapoint.time.to_i).in_time_zone(current_user.time_zone) %>
						<%= (time.hour*3600) + (time.min*60) + (time.sec) %>
						<% if datapoint.time != @data.last.time %>,<% end %>					
					<% end %>
			];
			average(data);
			var data_sort = data.sort(sortfunc);
			var min = data_sort[0];
			var max = data_sort[data_sort.length - 1];
			$("#min").html('Earliest: '+ time_of_day(min));
			$("#max").html('Latest: '+ time_of_day(max));
						
			// Calculate "mode"
			var begin_range = Math.floor(min/(30*60));
			var end_range = Math.ceil(max/(30*60));
		
			var count = data;
			for (var i = 0; i < data.length; i++){
				count[i] = Math.floor(data[i]/(15*60));			
			}
			
			$("#most_frequent").html('Most freq. range: ' + time_of_day(mode(count)*15*60) + " to " + time_of_day((mode(count) + 1)*15*60));
			
			//plot(data, "Average");
		<% elsif @calc == "Frequency" %>
			var data = [
					<% @data.each do |datapoint| %>
						<% time = Time.at(datapoint.time.to_i).in_time_zone(current_user.time_zone) %>
						[<%= datapoint.time.to_i %>, <%= (time.hour*3600) + (time.min*60) + (time.sec) %>]
						<% if datapoint.time != @data.last.time %>,<% end %>					
					<% end %>
				];
		
			var freq_data = [[-1,0]];
			
			var freq = "<%= params[:frequency_type] %>";
			var interval;
			var next_interval;
			var ctr = 0;
			var push_val = [-1,0];
			
			for(var i = 0; i < data.length; i++){
				var d = new Date(data[i][0]*1000);
				var index = i + 1;
				if ( index != data.length){
					var next_d = new Date(data[index][0]*1000);
				}
				else{
					var next_d = new Date(0);
				}
				
				<% if params[:frequency_type] == "day" %>
					interval = getDOY(d);
					next_interval = getDOY(next_d);
				<% elsif params[:frequency_type] == "week" %>
					interval = getWeek(d);
					next_interval = getWeek(next_d);
				<% elsif params[:frequency_type] == "month" %>	
					interval = (d.getMonth() + 1);
					next_interval = next_d.getMonth() + 1;
				<% elsif params[:frequency_type] == "year" %>
					interval = d.getFullYear();
					next_interval = next_d.getFullYear();
					
				<% end %>
				
				if (ctr == 0){
					if (freq_data[ctr][0] != interval){
						freq_data[ctr][0] = interval;
						freq_data[ctr][1] += 1;
						
					}
					else {
						freq_data[ctr][1] += 1;
					}
					if( interval != next_interval){
						ctr += 1;
					}
					
				}
				else if ( ctr != 0 ){
					if (push_val[0] != interval){
						push_val[0] = interval;
						push_val[1] += 1;
					}
					else {
						push_val[1] += 1;
					}
					if( interval != next_interval){
						freq_data.push(push_val);
						push_val = [-1,0];
					}
				}
			}
			var sum = 0;
			for (var i= 0; i < freq_data.length; i++){
				sum = sum + freq_data[i][1];		
			}
			//var avg = Math.round(sum / freq_data.length);
			var avg = sum / freq_data.length;
			$("#frequency").html(avg);
			plot(freq_data, "Frequency");
		<% end %>	
	});
		

	
	function plot(data, type){
		$("#chart").html('');
			
			if ( type == "Average")	{
				/*for( var i=0; i < data.length; i++){
					//data[i][0] = parseInt(data[i][1]*1000);
					data[i][1] = parseInt(data[i][1]*1000);				
				}
				$.jqplot('chart', [data],
					{
						axesDefaults: {
						},
						axes: {
							xaxis: {
								showTicks: false
							},
							yaxis: {
								renderer: $.jqplot.DateAxisRenderer,
								tickOptions:{formatString:'%#I:%M %p'}
							}
						}
					}
				);*/
			}
			else if ( type == "Frequency")	{
				$.jqplot('chart', [data],
					{
						axesDefaults: {
							pad: 2
						},
						seriesDefaults:{
            				renderer:$.jqplot.BarRenderer,
            				pointLabels: { show: true, location: 'n' },
							rendererOptions: {
             					barWidth: 10
            				}
        				},
						axes: {
							xaxis: {
								//renderer: $.jqplot.DateAxisRenderer,
								//tickOptions:{formatString:'%b'},
								showTicks: true
							},
							yaxis: {
								
							}
						}
					}
				);
			}
	};
	
	function mode(array){
    	if(array.length == 0)
    	    return null;
    	var modeMap = {};
    	var maxEl = array[0], maxCount = 1;
    	for(var i = 0; i < array.length; i++)
    	{
    	    var el = array[i];
    	    if(modeMap[el] == null)
    	            modeMap[el] = 1;
    	    else
    	            modeMap[el]++;  
    	    if(modeMap[el] > maxCount)
    	    {
    	            maxEl = el;
    	            maxCount = modeMap[el];
    	    }
    	}
    	return maxEl;
	}
	
	function sortfunc(a,b){
		return a - b;
	};
	
	function time_of_day(avg){
		var hour = Math.floor(avg/3600);
		if (hour > 12){
			hour = hour - 12;
			var am_pm = "PM";
		}
		else{
			var am_pm = "AM";
		}
		var minute = Math.floor((avg%3600)/60);
		if (minute < 10){
			minute = "0" + minute;
		}
		var second = Math.floor((avg%3600)%60);
		if (second < 10){
			second = "0" + second;
		}
		var time_of_day = hour + ":" + minute + ":" + second + " " + am_pm;
		return time_of_day;
	};
	
	function average(data){
			var sum = 0;
			for (var i= 0; i < data.length; i++){
				sum += data[i];		
			}
			var avg = Math.round(sum / data.length);
			
			var hour = Math.floor(avg/3600);
			if (hour > 12){
				hour = hour - 12;
				var time_of_day = "PM";
			}
			else{
				var time_of_day = "AM";
			}
			var minute = Math.floor((avg%3600)/60);
			if (minute < 10){
				minute = "0" + minute;
			}
			var second = Math.floor((avg%3600)%60);
			if (second < 10){
				second = "0" + second;
			}			
			
			$("#average").html('Average: '+ hour +':'+minute+':'+second+' '+time_of_day);
	};
	
	function getDOY(d) {
		var onejan = new Date(d.getFullYear(),0,1);
		return Math.ceil((d - onejan) / 86400000);
	}	
	function getWeek(d) {
		var onejan = new Date(d.getFullYear(),0,1);
		return Math.ceil((((d - onejan) / 86400000) + onejan.getDay()+1)/7);
	}
</script>