    <div id="content">
    	<div id="interior">
        	<%= form_for(@tag, :html => {:name=>"edit_tag"} ) do |f| %>
  				<% if @tag.errors.any? %>
  					<div id="error_explanation">
      					<h2><%= pluralize(@tag.errors.count, "error") %> prohibited this tag from being saved:</h2>
					    <ul>
      						<% @tag.errors.full_messages.each do |msg| %>
      							<li><%= msg %></li>
      						<% end %>
      					</ul>
    				</div>
				<% end %>
				<fieldset>
					<ul class="pageitem">
						<li class="bigfield">
							<%= f.text_field :title, :placeholder =>"Title" %>
						</li>
					</ul>
					<ul class="pageitem">
            			<li class="checkbox" style="position:relative">
							<span class="name" style="position:absolute;">Date</span>
								<input type="date" id="date" value="<%= Time.at(@tag.time.to_i).in_time_zone(current_user.time_zone).to_date %>"></input>
						</li>
            			<li class="checkbox" style="position:relative">
							<span class="name" style="position:absolute;">Time</span>
								<% value = Time.at(@tag.time.to_i).in_time_zone(current_user.time_zone).to_time %>
								<% value = value.to_s.split(" ") %>
								<input type="time" id="time_of_day" value="<%= value[1] %>"></input>
						</li>
		   			</ul>
					<ul class="pageitem">
            			<li class="textbox">
							<%= f.text_area :notes, :placeholder => "Notes", :rows => "4" %>
						</li>
					</ul>
					<ul class="pageitem">
            			<li class="checkbox"><span class="name">Location</span>
							<% if @tag.location != "0" %>
								<input id="location_checkbox" type="checkbox" checked="checked" />
								<!--<%= f.check_box :location, { :checked => true } %>-->
						</li>
							<% else %>	
								<input id="location_checkbox" type="checkbox" />							
								<!--<%= f.check_box :location, { :value => "hello" }  %>-->
							<% end %>
							
						</li>
					</ul>
					<% if @tag.location != "0" %>
						<ul id="#map_holder" class="pageitem" style="padding: 8px 0 4px 8px;" onLoad = "initialize();">
        					<!-- Insert map w/ Google API -->
							<div id="map_canvas" style=" height: 264px; width: 264px;"></div>
			        	</ul>
					<% end %>
					<% if !@tag.image_file_size.nil? %>
						<ul class="pageitem" style="padding: 8px 8px 4px 8px;">
							<a href="<%= @tag.image.url %>"><%= image_tag @tag.image.url %></a>
			        	</ul>
					<% end %>
					<ul class="pageitem">
						<li class="button">
							<%= f.submit :class => "orange", :value => "UPDATE" %>
						</li>
					</ul>
					
					<!-- Hidden text fields -->
					<%= f.hidden_field :location %>
					<input type="hidden" id="tag_location_holder" />
												
					<%= f.hidden_field :user_id %>
					<%= f.hidden_field :time %>

					</fieldset>
					

			<% end %>
			<ul class="pageitem">
						<li class="button">
							<%= button_to 'DESTROY', @tag, :onclick => "return confirm('Are you sure you want to delete?')", :method => :delete, :class => "orange" %>
						</li>
			</ul>
        </div><!--close interior-->
    </div><!--close content-->
  
<script>

		$(document).ready(initialize());
		
		$("#tag_submit").click(function(){
			//Get latest time
			var date = $("#date").val().toString().split("-");
			var time = $("#time_of_day").val().toString().split(":");
			var dt = Date.UTC(parseInt(date[0]), parseInt(date[1])-1, parseInt(date[2]), parseInt(time[0]), parseInt(time[1]), parseInt(time[2]));
			var offset = new Date();
			offset = offset.getTimezoneOffset()*60;
			$("#tag_time").val(dt/1000+offset);
						
			//Get latest location
			if ($("#location_checkbox").is(':checked') && "<%= @tag.location %>" == "0"){
				//If location on and previous location not stored
				$("#tag_location").val($("#tag_location_holder").val());
			}
			else if (!$("#location_checkbox").is(':checked') && "<%= @tag.location %>" != "0"){
				$("#tag_location").val("0");
			}			
			return true;
		});
		
		// Code for Google Map 
		function initialize(){
			<% if @tag.location != "0" %>
			var map = new google.maps.Map(document.getElementById("map_canvas"), {
    	    	zoom: 15,
				
				
					<% @latitude = @tag.location.split(",")[0]
					@longitude = @tag.location.split(",")[1] %>
					center: new google.maps.LatLng(<%= @latitude %>,<%= @longitude %>),
				
	        	mapTypeId: google.maps.MapTypeId.ROADMAP
			});
			var marker = new google.maps.Marker({
        		map: map,
				<% if @tag.location != "0"
					@latitude = @tag.location.split(",")[0]
					@longitude = @tag.location.split(",")[1] %>
					position: new google.maps.LatLng(<%= @latitude %>,<%= @longitude %>),
				<% end %>
          		draggable: false
        	});
			<% end %>
		}
		navigator.geolocation.getCurrentPosition(showMap);
		function showMap(position) {
      		// Show a map centered at (position.coords.latitude, position.coords.longitude).
			$("#tag_location_holder").val(position.coords.latitude+","+position.coords.longitude);
			
		}
</script>
