<div id="wrapper">
	<div id="header">
		<h1>View Tags</h1>
        <a href="<%= root_url %>" class="back"><img src="/images/back.png" alt="Back" /></a>
    </div><!--close header-->
    <div id="content">
    	<div id="interior">
			
					<% tags_format = Tag.where(:user_id => current_user.id).order("time DESC") %>
					<% flag = "" %>
					<% tags_format.each_cons(2) do |tag, next_tag| %>
						<% if flag != (Time.at(tag.time.to_i).in_time_zone(current_user.time_zone)).to_date %>
							<span class="date" onclick = "$('#<%= tag.id %>').toggle('slow');">
							<!--<img id="button<%= tag.id %>" class="plus-minus" src="/images/minus.gif" onclick = "$('#<%= tag.id %>').toggle('slow', function() { 
								if( $('#button<%= tag.id %>').attr('src') == '/images/minus.gif'){
									$('#button<%= tag.id %>').attr('src', '/images/plus.gif');
								}
								else{
									$('#button<%= tag.id %>').attr('src', '/images/minus.gif');
								}
								});"/>-->
								
								
								
							<%= (Time.at(tag.time.to_i).in_time_zone(current_user.time_zone)).strftime("%A, %B %-d, %Y") %></span>
        	    				<ul class="pageitem" id="<%= tag.id %>">
						<% end %>
									<li class="single-tag" id="<%= tag.id %>">
										<a href="<%= edit_tag_path(tag) %>">
											<span class="title"><%= tag.title %></span>
										</a>
											<span class="time">
												<%= Time.at(tag.time.to_i).in_time_zone(current_user.time_zone).strftime("%l:%M%P") %>
												<% if tag.location != "0" %>
													<span><img class="location-arrow" src="/images/location.png" /></span>
													
												<% end %>									
												<!-- Indicate whether or not an image is with the tag-->
												<!--<% form_tag tag, :method => :delete, :class => "delete_tag" do %>
													<% image_submit_tag "../images/close_icon.gif", :onclick => "return confirm('Are you sure you want to delete?')" %>
												<% end %>-->
											</span>											
									</li>
						<% if (Time.at(next_tag.time.to_i).in_time_zone(current_user.time_zone)).to_date != (Time.at(tag.time.to_i).in_time_zone(current_user.time_zone)).to_date %>
								</ul>
						<% end %>
						<% flag = (Time.at(tag.time.to_i).in_time_zone(current_user.time_zone)).to_date %>								
												
					<% end %>					
					<% if current_user.tags == [] %>
						<li class="single-tag">
							<a href="<%= new_tag_path %>">
								<span class="title">No tags loaded yet...click here to create tag</span>
							</a>
						</li>
					<% end %>
				</ul>
		</div><!--close interior-->
    </div><!--close content-->
    <div id="footer">
    	<p>&copy; copyright 2012 Tag Lab</p>
    </div><!--close footer-->
</div><!--close wrapper-->    

<script>

	function initialize(){return true;}
	
	/*$(".single-tag").swiperight(function(){
		var $li = $(this);
		var $deleteBtn = $('<a>Delete</a>').attr({
							class: 'aDeleteBtn ui-btn-up-r',
							href: '/tags/' + $li.attr('id') + '/',
							onclick: 'return confirm("Are you sure you want to delete?")',
							method: 'delete'
		});
		$li.prepend($deleteBtn);
		
	});*/
	
	$("#header").swipeleft(function(){
		$.mobile.changePage("<%= root_url %>");		
	});
	
	/*
	$(function(){
		$('div').live('pageshow',function(event,ui){
				if ( event.target.id.indexOf('swipedelete') >= 0) {
					// remove any existing swipe areas
					$('.aDeleteBtn').remove();
					// add swipe event to the list item
					$('ul li').bind('swiperight', function(e){
						// reference the just swiped list item
						var $li = $(this);
						// remove all buttons first
						$('.aDeleteBtn').remove();
						// create buttons and div container
					
						var $deleteBtn = $('<a>Delete</a>').attr({
							'class': 'aDeleteBtn ui-btn-up-r',
							'href': 'some/link/page.html?nID=' + $li.data('nid')
						});
						// insert swipe div into list item
						$li.prepend($deleteBtn);
					});
			}
			})});*/

</script>
				
		
		
		
		

	

