<!DOCTYPE html>
<html>
	<head>
		<title>Tag Lab</title>
		
		<!-- Stylesheets -->
  		<%= stylesheet_link_tag :all %>
		<link href="/stylesheets/stylesheet.css" rel="stylesheet" type="text/css">
		<link href='http://fonts.googleapis.com/css?family=Jura:300,400,500,600' rel='stylesheet' type='text/css'>
		<link href="/stylesheets/jquery-ui-1.8.17.custom.css" rel="stylesheet" type="text/css">
		<!--
		<link rel="stylesheet" href="http://code.jquery.com/mobile/1.0.1/jquery.mobile-1.0.1.min.css" />
		-->
		<%= csrf_meta_tag %>
		
		<!-- Favicon -->
		<link rel="icon" href="/images/favicon.ico" type="image/x-icon">
		
		<!-- Scripts -->		
		<!-- Required to load jquery before prototype.js -->
		<script src="/javascripts/jquery-1.7.1.js"></script>
		<!-- Required to load Google Map -->
		<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?key=AIzaSyDNTgdz8LHOUFC4eTssPHmMD02N_NnQ5Xk&sensor=false"></script>
		
		<script type="text/javascript" src="/js/functions.js"></script>
		<!--<%= javascript_include_tag :defaults %>-->
		<!-- Include this js file to make destroy links function 
		<script type="text/javascript" src="/javascripts/dragdrop.js"></script>
		<%= javascript_include_tag "rails" %>-->
		<%= javascript_include_tag "application" %>		
				
		<script src="/javascripts/jquery-ui-1.8.17.custom.min.js"></script>
		<script src="http://code.jquery.com/jquery-latest.js"></script>
		<!--		
		<script src="http://code.jquery.com/jquery-1.6.4.min.js"></script>
		<script src="http://code.jquery.com/mobile/1.0.1/jquery.mobile-1.0.1.min.js"></script>
		-->
		
		<!-- Start iOS -->
		<meta name="apple-mobile-web-app-capable" content="yes" />
		<meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;" />
		<link rel="apple-touch-icon" href="apple57.png" />
		<link rel="apple-touch-icon" sizes="72x72" href="apple72.png" />
		<link rel="apple-touch-icon" sizes="114x114" href="apple114.png" />
		<script src="js/functions.js" type="text/javascript"></script>
		<script type="text/javascript">
			var a=document.getElementsByTagName("a");
			for(var i=0;i<a.length;i++)
			{
    			a[i].onclick=function()
			    {
	        		window.location=this.getAttribute("href");
	        		return false
	    		}
			}
		</script>
		<!-- End iOS -->
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<meta name="keywords" />
		<meta name="description" />
	
	</head>
	<body onload="initialize()" >
		<!-- Only access this home page when not logged in -->
			<% if !current_user %>
				<%=  render :template => 'home/index.html.erb' %>
			<% end %>
		<!-- Only allow access to pages file if logged in -->
			<% if current_user %>
				<%= yield %>
			<% end %>
		
	</body>
</html>

